<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include fb %>
    <div id="root"></div>
    <script src="javascripts/build/index.js"></script>
  </body>
</html>

