<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Schedule</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
    html, body {
      padding: 0;
      margin: 0;
    }
    #root {
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Machine Schedule</h1>
    <div id="root"></div>
  </div>
  <script src="javascripts/build/schedule.js"></script>
</body>
</html>

